body{
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
}
/*════════════════════════════════════════════════════
꧁═════════════════════ 2.Nabv ═════════════════════꧂
═════════════════════════════════════════════════════*/

.custom-header {
    background: #b6116c;
    max-height: 80px;
}
.nav-link {
    cursor: pointer;

}
.img-custom {
    width: 40px;
    height: 40px;
}
/*════════════════════════════════════════════════════
꧁═════════════════════ 2.login view css ═════════════════════꧂
═════════════════════════════════════════════════════*/
.bg-purple {
    background-color: rgb(55, 0, 77);
}
.bg-bubble {
    //background-image: url("assets/bubble.png");
    background-position: center;
    
    
}
.bg-rose {
    background: #2E1371 0%
}
.bg-card {
    background: #FE53BB 0%
}

/*════════════════════════════════════════════════════
꧁═════════════════════ 2.home view css ═════════════════════꧂
═════════════════════════════════════════════════════*/
.margin-cont {
    padding-top: 80px;
}
.bg-static {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.05;
    z-index: -1;
}
